/*
This is a comment
*/

/*
General Form is:

Selected Tag {
  property: value;
}

*/

/*Colors can be names, or codes*/

/* Basic form for a CSS file is going to be:

selected tag{
property: value;
}

*/

h1{
  color: purple;
}

li{
  color: rgb(8,84,1);
}
/* This will effect all elements within a list.
For RGB colors you can use google "color picker" to find what values to use. */

p{
  color: #0895a8;
}
/* this changes paragraph text to color from hex value. */
