/*
This is a comment
*/

/*
General Form is:

Selected Tag {
  property: value;
}

*/

/*Colors can be names, or codes*/

/* Basic form for a CSS file is going to be:

selected tag{
property: value;
}

*/

h1{
  color: purple;
}
