/*All HTML elements can be considered as boxes. In CSS, the term "box model" is used when talking about design and layout.

The CSS box model is essentially a box that wraps around every HTML element. It consists of: margins, borders, padding, and the actual content. */

#top{
  border: 4px solid blue;

  width: 25%;
/* sets the border to 25% the window size in realtion to the page size. */
  /*Top,Right, Bottom, Left*/
  margin: 10px 20px 100px 400px;
/* will create margin sizes for the box on page */
/* calling
 margin: auto
 will automatically center box on the page */
  text-align: center;
  /* will align the text in relation to the box */
}

#bottom{
  border: 4px solid red;
  width: 50%;

  /*even margins*/
  margin: 200px;
  /*margin: auto;*/

  padding: 200px;
  /* adding padding will create space within the box. */
  /* you can call
  text-align: center
  to alight the text to the center of the box within the padding */
}
